<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.ClinicConnectionString"
            connectionString="Data Source=desktop-uq88jre\mssqlserver01;Initial Catalog=Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>