<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.ClinicConnectionString"
            connectionString="Data Source=desktop-uq88jre\mssqlserver01;Initial Catalog=Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>